/* checkout */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.ck-container h2 {
    margin-bottom: 0px;
    margin-top: 25px;
    text-align: center;
    font-weight: 200;
    font-size: 19px;
    font-size: 1.2rem;
}
.ck-container {
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #1d1d1d;
    margin-top: 20px;
    margin-bottom: 100px;
}
.ck-container .dropdown-select.visible {
    display: block;
}
.ck-container .dropdown {
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
}
.ck-container ul li {
    list-style: none;
    padding-left: 10px;
    cursor: pointer;
}
.ck-container ul li:hover {
    background: rgba(255, 255, 255, 0.1);
}
.dropdown-select {
    position: absolute;
    background: #77aaee;
    text-align: left;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 90%;
    left: 2px;
    line-height: 2em;
    margin-top: 2px;
    box-sizing: border-box;
}
.ck-container .thin {
    font-weight: 400;
}
.ck-container .small {
    font-size: 12px;
    font-size: 0.8rem;
}
.half-input-table {
    border-collapse: collapse;
    width: 100%;
}
.half-input-table td:first-of-type {
    border-right: 10px solid #4488dd;
    width: 50%;
}
.ck-container .window {
    height: 570px;
    width: 800px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    z-index: 10;
}
.ck-container .order-info {
    color: black;
    height: 100%;
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    color: black;
}
.ck-container .price {
    bottom: 0px;
    position: absolute;
    right: 0px;
    color: #4488dd;
}
.ck-container .order-table td:first-of-type {
    width: 25%;
}
.ck-container .order-table {
    position: relative;
}
.ck-container .line {
    height: 1px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ddd;
}
.ck-container .order-table td:last-of-type {
    vertical-align: top;
    padding-left: 25px;
}
.ck-container .order-info-content {
    table-layout: fixed;
    height: 85%;
    overflow: scroll;
}
.ck-container .order-info-content::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.ck-container .full-width {
    width: 100%;
}
.ck-container .pay-btn {
    border: none;
    background: #22b877;
    line-height: 2em;
    border-radius: 10px;
    font-size: 19px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 50px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ck-container .pay-btn:hover {
    background: #22a877;
    color: #eee;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.ck-container .total {
    margin-top: 25px;
    font-size: 1.3rem;
    position: absolute;
    bottom: 30px;
    right: 27px;
    left: 35px;
}
.ck-container .dense {
    line-height: 1.2em;
    font-size: 16px;
    font-size: 1rem;
}
.ck-container .input-field {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    margin-top: 3px;
    line-height: 1.5em;
    font-size: 20px;
    font-size: 1.3rem;
    border: none;
    padding: 5px 10px 5px 10px;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.ck-container .credit-info {
    background: #4488dd;
    height: 100%;
    width: 50%;
    color: #eee;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    font-size: 0.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
}
.ck-container .dropdown-btn {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 1.5em;
    cursor: pointer;
    position: relative;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ck-container .dropdown-btn:after {
    content: "\25BE";
    right: 8px;
    position: absolute;
}
.ck-container .dropdown-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ck-container .dropdown-select {
    display: none;
}
.ck-container .credit-card-image {
    display: block;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 15px;
}
.ck-container .credit-info-content {
    margin-top: 25px;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
@media (max-width: 600px) {
    .ck-container .window {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 0px;
    }
    .ck-container .order-info {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        border-radius: 0px;
    }
    .ck-container .credit-info {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        border-radius: 0px;
    }
    .ck-container .pay-btn {
        border-radius: 0px;
    }
}
