body {
    margin: 0;
    color: white;
    position: relative;
    background-color: #1d1d1d;
    height: 100%;
}
body::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

.content {
    padding-top: 110px;
}

/* header end */
/* footer start */
/* footer start */
/* footer {
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    
} */

/* menu start  */

/* search box */
.search-box {
    top: 55px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    max-height: 300px;
    overflow: scroll;
    background: rgb(54, 54, 54);
    box-shadow: 1px 1px 10px rgb(105, 105, 105), -1px -1px 10px rgb(105, 105, 105);
    border-radius: 10px;
    z-index: 1;
}
.search-box::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}
.search-box .image img {
    margin-left: 20px;
    max-height: 100px;
    max-width: 100px;
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.2s linear;
}
.item-search-box {
    cursor: pointer;
    position: relative;
}
.item-search-box:hover img {
    transform: scale(1.1) rotate(-2deg);
}
.item-search-box .name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 150px;
    font-size: 20px;
}
.hidden {
    display: none;
}
.user-action {
    display: flex;
    position: absolute;
    right: 20px;
    top: 35px;
}
.lg-icon {
    margin-top: -35px;
    text-decoration: none;
    font-size: 40px;
}
.icon-profile {
    font-size: 40px;
}
.rgt-bt a {
    color: white;
    text-decoration: none;
}
.rgt-bt a:hover {
    color: white;
}
.rgt-bt {
    margin-left: 150px;
}
#ac-us{
    display: flex;
    justify-content: right;
}
ul#ac-us1{
    display: flex;
    color: rgb(179, 44, 44);
    list-style: none;
    margin-right: 200px;
}
ul#ac-us1 li{
    padding: 0px 20px;
}
ul#ac-us1 a{
    text-decoration: none;
    display: block;
    color: darkorange;
}
/* search-box end */

/*Detail start*/
.img-detail {
    max-width:300px;
    width: auto;
    height: auto;
}
#img-detail{
    position: static; 
    transform: none; 
    display: block; 
    max-width:500px; 
    max-height:300px; 
    width: auto; 
    height: auto;
}
.fade {
    font-family: block-pro, "Helvetica Neue", Verdana, Arial, sans-serif;
}
.buttons-added-detail {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}
.is-form-detail {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}
.is-form-detail:focus,
.input-text:focus {
    outline: none;
}
.is-form-detail.minus {
    border-radius: 4px 0 0 4px;
}
.is-form-detail.plus {
    border-radius: 0 4px 4px 0;
}
.input-qty-detail {
    background-color: #fff;
    height: 2.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}
.input-qty-detail::-webkit-outer-spin-button,
.input-qty-detail::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.modal-title {
    font-family: block-pro, "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 24px;
    color: rgb(206, 187, 113);
}
.disc-detail {
    font-family: sfudinengalt, "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.52);
}
#price-detail {
    font-family: block-pro, "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: #c31c1c;
}
.calories-detail {
    max-width: 400px;
    padding: 0;
    margin: 0;
    border: solid 1px rgb(177, 177, 177);
}
.calories-detail .row1 {
    font-family: block-pro, "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    color: #ffffff;
    background-color: rgb(246, 124, 1);
    height: 50px;

    margin: 0 auto;
}
.calories-detail .row2 {
    margin: 0 auto;
    font-size: 16px;
    color: black;
}
/*Detail end*/
/* checkout */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.ck-container h2 {
    margin-bottom: 0px;
    margin-top: 25px;
    text-align: center;
    font-weight: 200;
    font-size: 19px;
    font-size: 1.2rem;
}
.ck-container {
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #1d1d1d;
    margin-top: 20px;
    margin-bottom: 100px;
}
.ck-container .dropdown-select.visible {
    display: block;
}
.ck-container .dropdown {
    position: relative;
}
ul {
    margin: 0;
    padding: 0;
}
.ck-container ul li {
    list-style: none;
    padding-left: 10px;
    cursor: pointer;
}
.ck-container ul li:hover {
    background: rgba(255, 255, 255, 0.1);
}
.dropdown-select {
    position: absolute;
    background: #77aaee;
    text-align: left;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 90%;
    left: 2px;
    line-height: 2em;
    margin-top: 2px;
    box-sizing: border-box;
}
.ck-container .thin {
    font-weight: 400;
}
.ck-container .small {
    font-size: 12px;
    font-size: 0.8rem;
}
.half-input-table {
    border-collapse: collapse;
    width: 100%;
}
.half-input-table td:first-of-type {
    border-right: 10px solid #4488dd;
    width: 50%;
}
.ck-container .window {
    height: 570px;
    width: 800px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    z-index: 10;
}
.ck-container .order-info {
    color: black;
    height: 100%;
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    color: black;
}
.ck-container .price {
    bottom: 0px;
    position: absolute;
    right: 0px;
    color: #4488dd;
}
.ck-container .order-table td:first-of-type {
    width: 25%;
}
.ck-container .order-table {
    position: relative;
}
.ck-container .line {
    height: 1px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ddd;
}
.ck-container .order-table td:last-of-type {
    vertical-align: top;
    padding-left: 25px;
}
.ck-container .order-info-content {
    table-layout: fixed;
    height: 85%;
    overflow: scroll;
}
.ck-container .order-info-content::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.ck-container .full-width {
    width: 100%;
}
.ck-container .pay-btn {
    border: none;
    background: #22b877;
    line-height: 2em;
    border-radius: 10px;
    font-size: 19px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 50px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.ck-container .pay-btn:hover {
    background: #22a877;
    color: #eee;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.ck-container .total {
    margin-top: 25px;
    font-size: 1.3rem;
    position: absolute;
    bottom: 30px;
    right: 27px;
    left: 35px;
}
.ck-container .dense {
    line-height: 1.2em;
    font-size: 16px;
    font-size: 1rem;
}
.ck-container .input-field {
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    margin-top: 3px;
    line-height: 1.5em;
    font-size: 20px;
    font-size: 1.3rem;
    border: none;
    padding: 5px 10px 5px 10px;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.ck-container .credit-info {
    background: #4488dd;
    height: 100%;
    width: 50%;
    color: #eee;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    font-size: 0.9rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
}
.ck-container .dropdown-btn {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 1.5em;
    cursor: pointer;
    position: relative;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ck-container .dropdown-btn:after {
    content: "\25BE";
    right: 8px;
    position: absolute;
}
.ck-container .dropdown-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ck-container .dropdown-select {
    display: none;
}
.ck-container .credit-card-image {
    display: block;
    max-height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 15px;
}
.ck-container .credit-info-content {
    margin-top: 25px;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
@media (max-width: 600px) {
    .ck-container .window {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 0px;
    }
    .ck-container .order-info {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        border-radius: 0px;
    }
    .ck-container .credit-info {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        border-radius: 0px;
    }
    .ck-container .pay-btn {
        border-radius: 0px;
    }
}
/*About us*/
.subheading{
	font-weight: 600;
	font-size: 12px;
	line-height: 22px;
	color: #fc983c;	
	padding-left: 50px;
}
.mb-4{
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	color: rgba(255, 255, 255, 0.8);
	padding-left: 50px;
}
.pl-md-5 p{
	font-weight: 400;
	font-size: 16px;
	line-height: 29px;
	color: #949494;
	padding-left: 50px;
}
.img-left{
	background-size: 100% 100%;
}
.chooseacar{
	margin-top: 100px;
}
.chooseacar .container{
	margin-left: 200px;
	margin-right: 200px;
	height: 666px;
}

/* End about*/

.contact {
    position: absolute;
    left: 50%;
    transform: translateX(300px);
}

.send-message{
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    margin: auto;
}