/* footer start */
/* footer {
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    
} */
.footer {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
}
.footer-static .footer-logo p.info {
	margin: 20px 0 25px;
	font-size: 14px;
	line-height: 24px;
	color: #888;
}
.container-955 {
	width: auto;
	max-width: 100%;
	height: 250px;
    padding-left: 100px;
    
}
.footer-static .des > li {
	color: #888;
	font-size: 14px;
	margin: 0;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 15px;
}
.footer-static ul.des > li span {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
}
/*footer block*/
.footer-block > h3 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	color: white;
	margin: 0 0 15px 0;
	cursor: pointer;
	padding-top: 20px;
	text-transform: capitalize;
}
.footer-block > ul > li {
	display: block;
	margin: 0;
	line-height: 32px;
	border: 0;
	padding: 0;
}
.footer-block > ul > li > a {
	font-size: 14px;
	color: rgb(209, 209, 209);
	line-height: 36px;
	display: block;
	position: relative;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
}
.footer-block > ul > li > a:hover {
	color: #921b1b;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
/* social-link*/
.social-link {
	line-height: 30px;
	margin-top: 25px;
}
.social-link > li {
	display: inline-block !important;
	transition: all 0.3s ease-in-out;
	
	margin-right: 12px !important;
}
.social-link a {
    position: absolute;
    width: 50px;
    height: 50px;
    transition: 0.1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    z-index: 1;
    margin-right: 5px;
}
.social-link > li > a {
	width: 40px;
	height: 40px;
	line-height: 40px !important;
	text-align: center;
}
.social-link a::before {
    content: "";
    width: 0px;
    height: 0px;
    bottom: 0;
    right: 0;
    border: transparent solid 2px;
    position: absolute;
    transition: 0.2s linear;
    z-index: 0;
}
.social-link a:hover::before {
    border-bottom: 2px solid hsl(353, 100%, 71%);
    border-right: 2px solid hsl(353, 100%, 71%);
    width: 100%;
    height: 100%;
}
.social-link a::after {
    content: "";
    width: 0px;
    height: 0px;
    top: 0;
    left: 0;
    border: transparent solid 2px;
    position: absolute;
    transition: 0.2s linear;
    z-index: 0;
}
.social-link a:hover::after {
    border-top: 2px solid hsl(353, 100%, 71%);
    border-left: 2px solid hsl(353, 100%, 71%);
    width: 100%;
    height: 100%;
}
.social-link a:hover {
    color: hsl(353, 100%, 71%);
}
/* Block have a question */
.footer-block i{
	font-size: 25px;
	color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-block i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
  }
.footer-block p{
	display: inline-block;
	color: rgb(209, 209, 209);
	font-weight:400;
	vertical-align: middle;
	margin:0;
  }
.footer-block p a{
	color:  lightseagreen;
	text-decoration: none;;
  }
  .footer-block p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
  }
/* footer end */
